:root {
  --white-color: #f8f8f8;
  --ligth-color: #F2F2F2;
  --dark-color: #202020;
  --grey-color: #585858;
  --grey-ligth-color:#858585; 
  --blue-color: #0874bd;
  --green-color: #166e21;
  --red-color: #a03529;

  --font-primary: 'Open Sans', sans-serif;
  --max-width: 1024px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box; 
  font-size: 62.5%;  /* 10px / 16px = 62.5% => 1rem = 10px */
}

body {  
  font-family: var(--font-primary);  
  color: var(--dark-color);
  line-height: 1.6;
  font-size: 1.6rem;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;  
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

h1 {
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 5rem;  
  font-weight: 400; 
  letter-spacing: .1em;     
  margin: .5rem 0;      
  text-shadow: 2px 2px 2px var(--dark-color);
}

h2 {
  text-transform: capitalize;
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 400; 
  letter-spacing: .1em; 
  text-shadow: 2px 2px 2px var(--dark-color);
  padding-bottom: 2rem;
}

h3 {
  font-size: 2rem;  
  padding: 1rem 0; 
}

h4 {
  color: var(--white-color);
  font-size: 2rem; 
  font-weight: 300;   
}

p {
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  padding: .8rem 2.4rem;  
  border-radius: 5px;
  text-transform: capitalize; 
  font-size: 1.8rem;
  cursor: pointer;
}

.btn-primary {
  background: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
}

.btn-color {  
  color: var(--white-color);
  border: 1px solid var(--light-color);
}

.btn:hover {
  filter: brightness(120%);
  transition: .5s ease-in;
}

/*******************navigation*****************/
.nav { 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}

.nav__toggle i {
  color: var(--white-color);
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: .5rem;
  background: var(--grey-color); 
  border-radius: 5px;
  border: 1px solid var(--white-color);
  z-index: 10;
  font-size: 2rem;
}

.nav__toggle i:hover {
  filter: brightness(120%);
  transition: .5s ease-in;
}

.fa-times{
  visibility: hidden;
  border-radius: 50%;
} 

#nav__desktop {
  visibility: hidden;
}

#nav__collapsed {  
  opacity: 0;
  margin: -8rem;
  width: 100%;
} 

#nav__collapsed .nav__list {
  margin: 0 auto;  
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 100%;
  padding-top: 1rem;
  background: var(--grey-color);      
}

#nav__collapsed .nav__item {
  width: 100%;
  text-align: center;    
  border-bottom: 1px solid var(--white-color);    
}

#nav__collapsed .nav__link {
  display: inline-block;
  width: 100%;
  color: var(--white-color);   
  font-size: 1.4rem;  
  padding: .5rem 0;    
}  

.nav__link:hover,
.nav__item .active {
  background: var(--grey-ligth-color);  
  transition: .5s ease-in;
}

:target[id]::before {
  content: '';
  display: block;
  height: 8rem;
  margin: -2rem 0 0;
}

/*******************home*****************/
.intro {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/bg-home.jpg') center center no-repeat fixed;
  background-size: cover;
  z-index: -10;
}

.intro__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  height: 80vh;
}

/*******************about*****************/
.about__features {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.features__item {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  background: var(--ligth-color); 
}

.features__item:nth-child(1) h3{
  color: var(--green-color);
}

.features__item:nth-child(2) h3{
  color: var(--blue-color);
}

.features__item:nth-child(3) h3{
  color: var(--red-color);
}

.features__item:nth-child(1) .btn-color {
  background: var(--green-color);
}

.features__item:nth-child(2) .btn-color {
  background: var(--blue-color);
}
.features__item:nth-child(3) .btn-color {
  background: var(--red-color);
}

.features__item:nth-child(4),
.features__item:nth-child(5) {
  max-width: 90%;
}

.features__item-description{
  padding: 1rem 2.5rem;   
}  

/*******************services*****************/
.services {
  height: 60vh;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/bg-services.jpg') center center no-repeat fixed;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  z-index: -10;
}

.services__header {
  color: var(--white-color);
  max-width: 80%;
  margin: 0 auto;
}

.services__items {
  margin: 5rem auto;  
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.services__item {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  background: var(--ligth-color); 
  padding-bottom: 2rem;
}

.services__item:nth-last-of-type(1) {
  max-width: 90%;  
}

.services__item-content {
  padding: 1rem 2rem 0 2rem;
  text-align: left;
}


/*******************contact*****************/
.contact {  
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/bg-contact.jpg') center center no-repeat fixed;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;  
  color: var(--dark-color);
  z-index: -10;
}

.contact__header {
  max-width: 100%;
  padding: 3rem 3rem 1rem 3rem;   
}

.contact__header p {
  padding: 1rem;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.7); 
}

.contact__form {
  max-width: 100%; 
  padding: 0 3rem 3rem 3rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__group {
  width: 100%; 
  display: flex;
  flex-direction: column; 
}

.form__group .btn-color {
  background: var(--dark-color);
  border: 1px solid var(--white-color);
  align-self: flex-start;
}

.form__control {
  width: 100%;  
  padding: .5rem 1rem;
  margin: .5rem 0;          
  background: rgba(245, 245, 245, 0.7); 
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  color: var(--dark-color);   
}

::placeholder {
  color: var(--dark-color);
  font-family: var(--font-primary);
  font-size: 1.4rem;
}

/*******************footer*****************/
.footer {
  text-align: center;
  color: var(--grey-color);
}

.footer__content {
  max-width: 30rem;
  margin: 0 auto;
  font-style: italic;
  padding: 3rem 0;
}

.footer__arrow {
  position: fixed;
  bottom: 1rem;
  right: 1rem;   
  color: var(--grey-color);
  font-size: 2.5rem;
}

.footer__atribution {
  border-top: 1px solid var(--ligth-color);
  padding-top: 2rem;
}

.footer__atribution > * {
  font-size: 1rem;
}

